* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Work Sans", sans-serif;
  background: $darker;
  color: $text;
  transition: all 0.2s ease-in-out;
}

// font-family: 'Work Sans', sans-serif;
// regular weight: 400
// semi-bold weight: 600

h1 {
  font-size: 1.8rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
}

h2 {
  font-size: 1.6rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

li {
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  color: $text;
}

ul {
  list-style: none;
}

input {
  border: none;
  background: $input;
  font-size: 1.8rem;
  color: $text;
  padding: 1rem 2rem;
  border-radius: 6px;
  font-family: "Work Sans", sans-serif;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05),
    0px 30px 30px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05),
    0px 30px 30px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05),
    0px 30px 30px rgba(0, 0, 0, 0.05);
}
::placeholder {
  color: $text-inactive;
}
:-ms-input-placeholder {
  color: $text-inactive;
}
::-ms-input-placeholder {
  color: $text-inactive;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  border: none;
  background: $dot;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  color: $text;
  padding: 1.4rem 2.5rem;
  font-size: 1.8rem;
  border-radius: 6px;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05),
    0px 30px 30px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05),
    0px 30px 30px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05),
    0px 30px 30px rgba(0, 0, 0, 0.05);
  &:hover {
    background: $dot-active;
    cursor: pointer;
  }
}

// CUSTOM SCROLLBAR

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.089);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.349);
  border-radius: 90px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.671);
}

.error-message {
  color: $dot;
  font-size: 1.4rem;
  margin: 1.5rem;
}

@media screen and (max-width: 580px) {
  html {
    font-size: 50%;
  }
}
