.desktop-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 10vh;
  min-height: 7rem;
  margin: 0rem 8rem;
  position: relative;
  #logo {
    height: 2.4rem;
    // position: absolute;
    left: 0;
    margin-bottom: 0.4rem;
  }
  .desktop-menu {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;
    li {
      font-weight: 600;
      padding: 1rem;
      margin: 0rem 1rem;
      .inactive {
        color: $text-inactive;
        &:hover {
          color: $text;
        }
      }
    }
    .tutorial {
      padding-right: 0rem;
      margin-right: 0rem;
    }
  }
}
