.hero {
  #app-full {
    justify-content: start;
    .options {
      margin-top: 15rem;
    }
  }
  .app {
    height: 22vh;
    min-height: 18rem;
    background: $darker;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    #add-button {
      background: #505356;
      font-weight: 600;
      margin: 2rem;
      padding: 0.4rem 1.5rem;
      border-radius: 6px;
      &:hover {
        background: #3b3e41;
      }
    }

    #page3-button {
      border-radius: 6px;
      padding: 1.2rem 2.5rem;
      margin-top: 8rem;
    }

    .page2-title {
      font-size: 2.2rem;
      padding: 2rem 4rem;
      background: $dark;
      border-radius: 6px;
      position: absolute;
      top: 40px;
    }

    .error-message {
      color: $dot;
      font-size: 1.4rem;
      margin: 1.5rem;
    }
    input {
      width: 60rem;
      border-radius: 6px 0px 0px 6px;
    }
    .start {
      border-radius: 0px 6px 6px 0px;
      margin-left: 0.4rem;
    }
  }
  .how-to {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 7rem 0rem;

    .line {
      height: 4rem;
      width: 3px;
      background: $darker;
      transform: translateX(-3px);
    }
    .step {
      display: flex;
      flex-direction: row;
      align-items: center;
      max-width: 35rem;
      text-align: center;
      transform: translateX(-3px);
      margin: 0.5rem 0rem;
      .number {
        padding: 1.1rem 1.7rem;
        background: $input;
        border-radius: 90px;
      }
      .desc {
        padding: 1rem;
        transform: translateY(2px);
      }
    }
    .step1 {
      margin-top: 4rem;
    }
  }
}
