.refresh {
  margin-top: 2rem;
}
.results {
  display: flex;
  flex-direction: column;
  width: 100%;
  .result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    h2 {
      font-size: 1.8rem;
      width: 100%;
      padding: 1.5rem 2.2rem;
      margin: 0.5rem;
      border-radius: 6px;
      background: $input;
    }
    .bar-container {
      height: 10px;
      width: 100%;
      background: $dark;
      border-radius: 90px;
      margin-right: 0.5rem;
      margin-left: 0.5rem;
      margin-top: 0.5rem;
      margin-bottom: 2rem;
      .bar {
        height: 10px;
        background: $dot;
        border-radius: 90px;
      }
    }
  }
}

@media screen and (max-width: 730px) {
  .results {
    width: 96%;
  }
}
