* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Work Sans", sans-serif;
  background: #1b1d23;
  color: #ffffff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

h1 {
  font-size: 1.8rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
}

h2 {
  font-size: 1.6rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

li {
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  list-style: none;
}

input {
  border: none;
  background: #31363f;
  font-size: 1.8rem;
  color: #ffffff;
  padding: 1rem 2rem;
  border-radius: 6px;
  font-family: "Work Sans", sans-serif;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05), 0px 30px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05), 0px 30px 30px rgba(0, 0, 0, 0.05);
}

::-webkit-input-placeholder {
  color: #6a7372;
}

:-ms-input-placeholder {
  color: #6a7372;
}

::-ms-input-placeholder {
  color: #6a7372;
}

::placeholder {
  color: #6a7372;
}

:-ms-input-placeholder {
  color: #6a7372;
}

::-ms-input-placeholder {
  color: #6a7372;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  border: none;
  background: #39c959;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  color: #ffffff;
  padding: 1.4rem 2.5rem;
  font-size: 1.8rem;
  border-radius: 6px;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05), 0px 30px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05), 0px 30px 30px rgba(0, 0, 0, 0.05);
}

button:hover {
  background: #2fac4b;
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.089);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.349);
  border-radius: 90px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.671);
}

.error-message {
  color: #39c959;
  font-size: 1.4rem;
  margin: 1.5rem;
}

@media screen and (max-width: 580px) {
  html {
    font-size: 50%;
  }
}

header {
  background: #24292e;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05), 0px 30px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05), 0px 30px 30px rgba(0, 0, 0, 0.05);
}

.desktop-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 6vh;
  min-height: 5rem;
  background: #24292e;
  margin: 0rem 8rem;
  position: relative;
}

.desktop-nav #logo {
  height: 1.2rem;
  left: 0;
  margin-bottom: 0.4rem;
}

.desktop-nav .desktop-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.desktop-nav .desktop-menu li {
  font-weight: 600;
  padding: 1rem;
  margin: 0rem 1rem;
  font-size: 1.6rem;
}

.desktop-nav .desktop-menu li .inactive {
  color: #6a7372;
}

.desktop-nav .desktop-menu li .inactive:hover {
  color: #ffffff;
}

.desktop-nav .desktop-menu .tutorial {
  padding-right: 0rem;
  margin-right: 0rem;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .app {
  margin-top: 8rem;
  height: 15vh;
  min-height: 13rem;
  background: #1b1d23;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 70rem;
}

.hero .app .main-title {
  width: 100%;
  font-size: 3rem;
  font-weight: 600;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.hero .app .question {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.hero .app .question input {
  width: 100%;
  border-radius: 6px 0px 0px 6px;
}

.hero .app .question .start {
  border-radius: 0px 6px 6px 0px;
  margin-left: 0.4rem;
}

.how-to {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.how-to img {
  width: 70rem;
  border-radius: 6px;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05), 0px 30px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05), 0px 30px 30px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 730px) {
  .hero .app {
    width: 100%;
  }
  .hero .app .main-title {
    width: 96%;
  }
  .hero .app .question {
    width: 96%;
  }
  .how-to img {
    width: 96%;
    min-height: 50rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (max-width: 460px) {
  .hero .app .main-title {
    font-size: 2rem;
  }
}

.hero #app-full {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  height: 100%;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.hero #app-full .options {
  margin-top: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.hero #app-full .options .option {
  width: 100%;
}

.hero #app-full .options .option .op-inp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.hero #app-full .options .option .op-inp .inp {
  border-radius: 6px;
  margin: 1rem;
  width: 100%;
}

.hero #app-full .options .option .op-inp .numb {
  padding: 1.1rem 1.7rem;
  margin: 1rem;
  background: #31363f;
  border-radius: 90px;
}

.hero #app-full .options .option .break-line {
  width: 96%;
  height: 3px;
  background: #24292e;
  margin: 1.5rem;
}

.hero #add-button {
  background: #505356;
  font-weight: 600;
  margin: 2rem;
  padding: 0.4rem 1.5rem;
  border-radius: 6px;
}

.hero #add-button:hover {
  background: #3b3e41;
}

.hero #page3-button {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.hero .page2-title {
  font-size: 2.2rem;
  padding: 2rem 4rem;
  background: #24292e;
  border-radius: 6px;
  position: absolute;
  top: 20px;
}

.calc-btn {
  margin-top: 3rem;
  padding: 1.3rem 2rem;
}

.options.page3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.options.page3 .buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: -60px;
  top: 0px;
}

.options.page3 .buttons-container #btn-toggle {
  background: #31363f;
  padding: 1.1rem 1.8rem;
  margin: 1.6rem 1rem;
  border-radius: 90px;
}

.options.page3 .buttons-container #btn-toggle:hover {
  background: #2fac4b;
}

.options.page3 .pro-table-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.options.page3 .pro-table-container .pro-table {
  width: 100%;
  height: 60rem;
  margin: 0rem 2rem;
  background: #24292e;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.options.page3 .pro-table-container .pro-table h2 {
  font-weight: 600;
  margin: 2rem 1rem;
  font-size: 1.8rem;
}

.options.page3 .pro-table-container .pro-table .pro-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0rem 1.2rem;
  height: 90%;
}

.options.page3 .pro-table-container .pro-table .pro-con .pros,
.options.page3 .pro-table-container .pro-table .pro-con .cons {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.options.page3 .pro-table-container .pro-table .pro-con .pros .pro,
.options.page3 .pro-table-container .pro-table .pro-con .pros .con,
.options.page3 .pro-table-container .pro-table .pro-con .cons .pro,
.options.page3 .pro-table-container .pro-table .pro-con .cons .con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 0.5rem;
  margin-bottom: 1.8rem;
  margin-left: 0.9rem;
}

.options.page3 .pro-table-container .pro-table .pro-con .pros .pro .pro-inp,
.options.page3 .pro-table-container .pro-table .pro-con .pros .pro .con-inp,
.options.page3 .pro-table-container .pro-table .pro-con .pros .con .pro-inp,
.options.page3 .pro-table-container .pro-table .pro-con .pros .con .con-inp,
.options.page3 .pro-table-container .pro-table .pro-con .cons .pro .pro-inp,
.options.page3 .pro-table-container .pro-table .pro-con .cons .pro .con-inp,
.options.page3 .pro-table-container .pro-table .pro-con .cons .con .pro-inp,
.options.page3 .pro-table-container .pro-table .pro-con .cons .con .con-inp {
  width: 66%;
  margin: 0.5rem;
  border-radius: 6px;
  border-radius: 6px 0px 0px 6px;
}

.options.page3 .pro-table-container .pro-table .pro-con .pros .pro .pro-inp-w,
.options.page3 .pro-table-container .pro-table .pro-con .pros .pro .con-inp-w,
.options.page3 .pro-table-container .pro-table .pro-con .pros .con .pro-inp-w,
.options.page3 .pro-table-container .pro-table .pro-con .pros .con .con-inp-w,
.options.page3 .pro-table-container .pro-table .pro-con .cons .pro .pro-inp-w,
.options.page3 .pro-table-container .pro-table .pro-con .cons .pro .con-inp-w,
.options.page3 .pro-table-container .pro-table .pro-con .cons .con .pro-inp-w,
.options.page3 .pro-table-container .pro-table .pro-con .cons .con .con-inp-w {
  width: 24%;
  margin: 0.5rem;
  border-radius: 6px;
  border-radius: 0px 6px 6px 0px;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

@media screen and (max-width: 580px) {
  .options.page3 .pro-table-container .pro-table .pro-con {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.refresh {
  margin-top: 2rem;
}

.results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.results .result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.results .result h2 {
  font-size: 1.8rem;
  width: 100%;
  padding: 1.5rem 2.2rem;
  margin: 0.5rem;
  border-radius: 6px;
  background: #31363f;
}

.results .result .bar-container {
  height: 10px;
  width: 100%;
  background: #24292e;
  border-radius: 90px;
  margin-right: 0.5rem;
  margin-left: 0.5;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.results .result .bar-container .bar {
  height: 10px;
  background: #39c959;
  border-radius: 90px;
}
/*# sourceMappingURL=style.css.map */