* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Work Sans", sans-serif;
  background: #24292e;
  color: #ffffff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

h1 {
  font-size: 1.8rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
}

h2 {
  font-size: 1.6rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

li {
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  list-style: none;
}

input {
  border: none;
  background: #31363f;
  font-size: 1.8rem;
  color: #ffffff;
  padding: 1rem 2rem;
  border-radius: 6px;
  font-family: "Work Sans", sans-serif;
}

::-webkit-input-placeholder {
  color: #6a7372;
}

:-ms-input-placeholder {
  color: #6a7372;
}

::-ms-input-placeholder {
  color: #6a7372;
}

::placeholder {
  color: #6a7372;
}

:-ms-input-placeholder {
  color: #6a7372;
}

::-ms-input-placeholder {
  color: #6a7372;
}

button {
  border: none;
  background: #39c959;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  color: #ffffff;
  padding: 1rem 2.5rem;
  font-size: 1.8rem;
  border-radius: 6px;
}

button:hover {
  background: #2fac4b;
  cursor: pointer;
}

.desktop-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10vh;
  min-height: 7rem;
  margin: 0rem 8rem;
  position: relative;
}

.desktop-nav #logo {
  height: 2.4rem;
  position: absolute;
  left: 0;
  margin-bottom: 0.4rem;
}

.desktop-nav .desktop-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  right: 0;
}

.desktop-nav .desktop-menu li {
  font-weight: 600;
  padding: 1rem;
  margin: 0rem 1rem;
}

.desktop-nav .desktop-menu li .inactive {
  color: #6a7372;
}

.desktop-nav .desktop-menu li .inactive:hover {
  color: #ffffff;
}

.desktop-nav .desktop-menu .tutorial {
  padding-right: 0rem;
  margin-right: 0rem;
}

.hero #app-full {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.hero #app-full .options {
  margin-top: 15rem;
}

.hero .app {
  height: 22vh;
  min-height: 18rem;
  background: #1b1d23;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.hero .app #add-button {
  background: #505356;
  font-weight: 600;
  margin: 2rem;
  padding: 0.4rem 1.5rem;
  border-radius: 6px;
}

.hero .app #add-button:hover {
  background: #3b3e41;
}

.hero .app #page3-button {
  border-radius: 6px;
  padding: 1.2rem 2.5rem;
  margin-top: 8rem;
}

.hero .app .page2-title {
  font-size: 2.2rem;
  padding: 2rem 4rem;
  background: #24292e;
  border-radius: 6px;
  position: absolute;
  top: 40px;
}

.hero .app .error-message {
  color: #39c959;
  font-size: 1.4rem;
  margin: 1.5rem;
}

.hero .app input {
  width: 60rem;
  border-radius: 6px 0px 0px 6px;
}

.hero .app .start {
  border-radius: 0px 6px 6px 0px;
  margin-left: 0.4rem;
}

.hero .how-to {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 7rem 0rem;
}

.hero .how-to .line {
  height: 4rem;
  width: 3px;
  background: #1b1d23;
  -webkit-transform: translateX(-3px);
          transform: translateX(-3px);
}

.hero .how-to .step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 35rem;
  text-align: center;
  -webkit-transform: translateX(-3px);
          transform: translateX(-3px);
  margin: 0.5rem 0rem;
}

.hero .how-to .step .number {
  padding: 1.1rem 1.7rem;
  background: #31363f;
  border-radius: 90px;
}

.hero .how-to .step .desc {
  padding: 1rem;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.hero .how-to .step1 {
  margin-top: 4rem;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.options .option .op-inp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.options .option .op-inp .inp {
  border-radius: 6px;
  margin: 1rem;
}

.options .option .op-inp .numb {
  padding: 1.1rem 1.7rem;
  margin: 1rem;
  background: #31363f;
  border-radius: 90px;
}

.options .option .break-line {
  width: 96%;
  height: 3px;
  background: #24292e;
  margin: 1.5rem;
}

.options.page3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.options.page3 .buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: -60px;
  top: 0px;
}

.options.page3 .buttons-container #btn-toggle {
  background: #31363f;
  padding: 1.1rem 1.8rem;
  margin: 1.6rem 1rem;
  border-radius: 90px;
}

.options.page3 .buttons-container #btn-toggle:hover {
  background: #2fac4b;
}

.options.page3 .buttons-container #btn-toggle:focus {
  background: #39c959;
}

.options.page3 .pro-table-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.options.page3 .pro-table-container .pro-table {
  width: 65rem;
  height: 60rem;
  margin: 0rem 2rem;
  background: #24292e;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.options.page3 .pro-table-container .pro-table h2 {
  font-weight: 600;
  margin: 2rem;
  font-size: 1.8rem;
}

.options.page3 .pro-table-container .pro-table .pro-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0rem 1.2rem;
  height: 90%;
}

.options.page3 .pro-table-container .pro-table .pro-con .pros,
.options.page3 .pro-table-container .pro-table .pro-con .cons {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.options.page3 .pro-table-container .pro-table .pro-con .pros .pro,
.options.page3 .pro-table-container .pro-table .pro-con .pros .con,
.options.page3 .pro-table-container .pro-table .pro-con .cons .pro,
.options.page3 .pro-table-container .pro-table .pro-con .cons .con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 0.5rem;
  margin-bottom: 1.8rem;
  margin-left: 0.9rem;
}

.options.page3 .pro-table-container .pro-table .pro-con .pros .pro .pro-inp,
.options.page3 .pro-table-container .pro-table .pro-con .pros .pro .con-inp,
.options.page3 .pro-table-container .pro-table .pro-con .pros .con .pro-inp,
.options.page3 .pro-table-container .pro-table .pro-con .pros .con .con-inp,
.options.page3 .pro-table-container .pro-table .pro-con .cons .pro .pro-inp,
.options.page3 .pro-table-container .pro-table .pro-con .cons .pro .con-inp,
.options.page3 .pro-table-container .pro-table .pro-con .cons .con .pro-inp,
.options.page3 .pro-table-container .pro-table .pro-con .cons .con .con-inp {
  width: 66%;
  margin: 0.5rem;
  border-radius: 6px;
  border-radius: 6px 0px 0px 6px;
}

.options.page3 .pro-table-container .pro-table .pro-con .pros .pro .pro-inp-w,
.options.page3 .pro-table-container .pro-table .pro-con .pros .pro .con-inp-w,
.options.page3 .pro-table-container .pro-table .pro-con .pros .con .pro-inp-w,
.options.page3 .pro-table-container .pro-table .pro-con .pros .con .con-inp-w,
.options.page3 .pro-table-container .pro-table .pro-con .cons .pro .pro-inp-w,
.options.page3 .pro-table-container .pro-table .pro-con .cons .pro .con-inp-w,
.options.page3 .pro-table-container .pro-table .pro-con .cons .con .pro-inp-w,
.options.page3 .pro-table-container .pro-table .pro-con .cons .con .con-inp-w {
  width: 24%;
  margin: 0.5rem;
  border-radius: 6px;
  border-radius: 0px 6px 6px 0px;
}
/*# sourceMappingURL=style.css.map */