// COLORS

$dark: #24292e;
$darker: #1b1d23;
$dot: #39c959;
$dot-active: #2fac4b;
$text: #ffffff;
$text-inactive: #6a7372;
$input: #31363f;

// IMPORTS

@import "global";
@import "header";
@import "question";
@import "options";
@import "weight";
@import "results";
